@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
    font-family: 'Lora', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("hearts.jpg");
}

.box { 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 500px;
    width: 60%;
    justify-content: center;
    border-radius: 5px;
}

#question {
    font-size: 20px;
}
#yes {
    display: none;
    
}

button {
    background-color: pink;
    border: 0px;
    border-radius: 4px;
    height: 30px;
    width: 50px;
}

.buttons {
    display: flex;
    justify-content: space-between;  /* Adjust as needed */
}


#no_bttn{
    position: absolute;
    transform: translate(-50%, -50%);
}
#yes_bttn {
    /* position: relative; */
}
#no {
    display: none;
}

#awks {
    display: none;
    position: fixed;
    right: 0;
}